{% if "IMPL_Specialist" in user.roles.split(",") %}
<div class="tab-pane fade" id="checklist-tab-pane" role="tabpanel" aria-labelledby="checklist-tab">
    <h5>Checklist</h5>
    <form id="checklistForm">
<!-- Generate Input Fields Globally -->
{% for input_field in check_list["inputs"] %}
<div class="mt-3">
    <label>{{ input_field.label }}</label>
    <form id="form-{{ loop.index }}" 
        hx-post="{{ input_field.endpoint }}" 
        hx-target="#update-status"
        hx-headers='{"Content-Type": "application/x-www-form-urlencoded"}'>
        <div class="input-group" style="width: 300px;">
            <input 
                type="text" 
                class="form-control"
                name="inputs[{{ input_field.label }}]"
                placeholder="Enter value"
            >
            <button 
                type="submit"
                class="btn btn-primary"
            >
                Submit
            </button>
        </div>
    </form>
</div>
{% endfor %}

        
        

        <!-- Pass the unique_ref -->
        <input type="hidden" name="unique_ref" value="{{ unique_ref }}">
    
        <!-- Dynamically Generated Fields -->
            {% from 'modal/fields.html' import render_fields %}
            {{ render_fields(checklist_form_fields, item_data, 'check-list',metadata,relationship_data) }}
    
        <hr>
    
        <!-- Checklist Values -->
        {% include "modal/check_list.html" %}
    
        <!-- Update Button -->
        <div class="modal-footer mt-3">
            <button
                type="button"
                class="btn btn-primary"
                id="updateChecklistButton"
                hx-post="/update-checklist/{{ model_name }}" 
                hx-include="#checklistForm"
                hx-headers='{"Content-Type": "application/x-www-form-urlencoded"}'
                hx-trigger="click"
                hx-swap="innerHTML"
            >
                Update
            </button>
        </div>
    </form>
    
    
    
</div>
{% endif %}

<script>
document.getElementById("updateChecklistButton").addEventListener("click", function () {
    const checkboxes = document.querySelectorAll("#checklistForm .form-check-input");
    const governanceData = {};

    // Combine checkbox values into governanceData
    checkboxes.forEach((checkbox) => {
        const key = checkbox.getAttribute("data-governance-key");
        governanceData[key] = checkbox.checked;
    });

    // Update the hidden input value
    const governanceInput = document.getElementById("governance");
    governanceInput.value = JSON.stringify(governanceData);
});

</script>