{% for field in form_fields %}
<div class="mb-3">
    <label for="{{ field.name }}" class="form-label">{{ field.name|capitalize }}</label>
    {% set is_required = field.required %}
    {% if field.multi_select %}
    <!-- Dropdown for predefined multi-options -->
    <select class="form-select" id="{{ field.name }}" name="{{ field.name }}[]" multiple {% if is_required %}required{% endif %}>
        {% for option in field.column_options or [] %}
        <option value="{{ option }}" {% if item_data[field.name] and option in item_data[field.name] %}selected{% endif %}>
            {{ option }}
        </option>
        {% endfor %}
    </select>
    {% elif field.column_options %}
    <!-- Dropdown for predefined options -->
    <select class="form-select" id="{{ field.name }}" name="{{ field.name }}" {% if is_required %}required{% endif %}>
        {% for option in field.column_options %}
        <option value="{{ option }}" {% if item_data[field.name] == option %}selected{% endif %}>
            {{ option }}
        </option>
        {% endfor %}
    </select>
    {% elif "INTEGER" in field.type %}
    <!-- Input for INTEGER -->
    <input type="number" class="form-control" id="{{ field.name }}" name="{{ field.name }}" value="{{ item_data[field.name] | default('') }}" {% if is_required %}required{% endif %}>
    {% elif "BOOLEAN" in field.type %}
    <!-- Dropdown for BOOLEAN -->
    <select class="form-select" id="{{ field.name }}" name="{{ field.name }}" {% if is_required %}required{% endif %}>
        <option value="true" {% if item_data[field.name] == true %}selected{% endif %}>True</option>
        <option value="false" {% if item_data[field.name] == false %}selected{% endif %}>False</option>
    </select>
    {% elif "DATE" in field.type and not "DATETIME" in field.type %}
    <!-- Input for DATE -->
    <input type="date" class="form-control" id="{{ field.name }}" name="{{ field.name }}" value="{{ item_data[field.name] | default('') }}" {% if is_required %}required{% endif %}>
    {% elif "TIME" in field.type and not "DATETIME" in field.type %}
    <!-- Input for TIME -->
    <input type="time" class="form-control" id="{{ field.name }}" name="{{ field.name }}" value="{{ item_data[field.name] | default('') }}" {% if is_required %}required{% endif %}>
    {% elif "DATETIME" in field.type %}
    <!-- Input for DATETIME -->
    <input type="datetime-local" class="form-control" id="{{ field.name }}" name="{{ field.name }}" value="{{ item_data[field.name] | default('') }}" {% if is_required %}required{% endif %}>
    {% else %}
    <!-- Textarea for TEXT or STRING -->
    <textarea class="form-control resizable" id="{{ field.name }}" name="{{ field.name }}" rows="1" {% if is_required %}required{% endif %}>{{ item_data[field.name] | default('') | e }}</textarea>
    {% endif %}
</div>
{% endfor %}
