<style>
    .form-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }

    th {
        text-align: left !important;
    }

    .relationship-container {
        margin-bottom: 2rem;
    }

    .relationship-container .table th,
    .relationship-container .table td {
        vertical-align: middle;
    }

    .resizable {
        resize: vertical;
        /* Allow resizing only vertically */
        min-height: 50px;
        /* Minimum height for better UX */
        max-height: 300px;
        /* Optional: Limit maximum height */
    }

    .minwidth-cell {
        min-width: 150px;  /* Adjust as desired */
        white-space: nowrap; /* Optional to prevent wrapping */
      }
</style>

{% if is_request %}
<div class="row g-3">
    {% set request_fields = {
        "organization": "Organization",
        "sub_organization": "Sub Org",
        "line_of_business": "LOB",
        "team": "Team",
        "decision_engine": "Decision Engine",
        "effort": "Effort"
    } %}

    {% for field_name, label in request_fields.items() %}
    <div class="col-md-2">
        {% set field = request_columns | selectattr("name", "equalto", field_name) | first %}
        {% if field %}
        <label for="{{ field.name }}" class="form-label">{{ label }}</label>
        <select class="form-select" id="{{ field.name }}" name="{{ field.name }}" {% if field.required %}required{% endif %}>
            {% for option in field.column_options or [] %}
            <option value="{{ option }}" {% if item_data[field.name] == option %}selected{% endif %}>
                {{ option }}
            </option>
            {% endfor %}
        </select>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endif %}



<!-- Auto Generate Model Fields -->
{% include "modal/fields.html" %}

