{% extends "base.html" %}

{% block title %}{{ model.frontend_table_name }}{% endblock %}

{% block content %}


    <h2>{{ model.frontend_table_name }}</h2>

    <div>
        <!-- Custom Search Input -->
        <input type="text" id="customSearchInput" class="form-control" placeholder="Search table..." style="width: 250px; display: inline-block; margin-left: 10px;">
        {% include "table/manage_columns_button.html" %}
        {% include "table/filter_button.html" %}
        {% set model_name = model_name %}
        {% include "table/header_action_button.html" with context %}
    </div>

    <!-- Table -->
    {% include "table/table.html" %}


<div id="viewExistingModalContainer"></div>

<script>
    document.body.addEventListener("htmx:afterSwap", (event) => {
        if (event.detail.target.id === "viewExistingModalContainer") {
            const modalElement = document.getElementById("viewExistingModal");
            if (modalElement) {
                const modal = new bootstrap.Modal(modalElement, {
                    backdrop: true,
                    keyboard: true,
                });
                modal.show();
            }
        }
    });
</script>


{% endblock %}
