<!-- Select Checkbox -->
<td >
    <!-- Flex container to align items horizontally -->
    <div class="d-flex align-items-center">
        <!-- Checkbox -->
        <input type="checkbox" class="form-check-input status-check me-2 row-checkbox" name="selected_rows" value="{{ row }}">

        <!-- Button Group -->
        <div class="btn-group status-check">
            <!-- Primary Button with Bolt Icon -->
            <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-bs-toggle="dropdown"
                aria-expanded="false">
                <i class="fas fa-bolt"></i>
            </button>
            <!-- Dropdown Menu -->
            <ul class="dropdown-menu">
                <li>
                    <button class="btn btn-primary" 
                            hx-post="/get-details" 
                            hx-target="#detailsForm" 
                            hx-trigger="click" 
                            hx-swap="innerHTML"
                            hx-vals='{"unique_ref": "{{ row.unique_ref }}"}'
                            onclick="showModal()">View</button>
                </li>
            </ul>
        </div>
    </div>
</td>

