<style>
    /* Filter and Sort Icons */
    .filter-icon {
        font-size: 18px;
        position: relative;
        cursor: pointer;
    }

    .filter-icon::after {
        content: '';
        display: none;
        position: absolute;
        top: -4px;
        right: -4px;
        width: 8px;
        height: 8px;
        background-color: #007bff;
        /* Blue indicator for active filters */
        border-radius: 50%;
    }

    .filter-icon.active::after {
        display: block;
    }

    .sort-icon {
        margin-left: 5px;
        cursor: pointer;
        color: gray;
        /* Default color */
    }

    .sort-icon.active {
        color: #007bff;
        /* Active sort color */
    }

    /* Filter Menu */
    .filter-menu {
        display: none;
        position: absolute;
        background: var(--menu-bg-color, white);
        border: 1px solid #ccc;
        padding: 10px;
        z-index: 10;
        transform: translateX(0);
        /* Ensure no offset initially */
    }

    .filter-menu.show {
        display: block;
    }
</style>
<thead>
    <tr>
        <!-- Blank Header for the First Column -->
        <th>
        </th>
        {% if rows and rows[0] %}
        {% for key in rows[0].keys() %}
        <th class="{{ key }}-column">
            <!-- Column Header -->
            {{ key|capitalize }}

            <!-- Sorting Button -->
            {% include "table/sort_button.html" %}

            <!-- Filter Icon with Active Indicator -->
            {% include "table/filter_button.html" %}

            {% include "table/filter_menu.html" %}
        </th>
        {% endfor %}
        {% endif %}
    </tr>
</thead>





<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", async () => {
        document.addEventListener("keydown", handleKeyboardShortcuts);
    });

    // Handle keyboard shortcuts
    function handleKeyboardShortcuts(event) {
        if (event.ctrlKey && event.shiftKey) {
            const key = event.key.toLowerCase();

            // Select only visible checkboxes
            const visibleCheckboxes = Array.from(document.querySelectorAll(".row-checkbox"))
                .filter(checkbox => checkbox.closest("tr").style.display !== "none");

            if (key === "a") {
                event.preventDefault();
                visibleCheckboxes.forEach((checkbox) => (checkbox.checked = true));
            } else if (key === "d") {
                event.preventDefault();
                visibleCheckboxes.forEach((checkbox) => (checkbox.checked = false));
            }
        }
    }



</script>