<div class="table-responsive" id="tableContainer">
    <form id="status-form">
        <table class="table table-bordered">
            {% include "table/table_headers.html" %}
            <tbody id="tableBody">
                {% for row in rows %}
                <tr data-id="{{ row.get('unique_ref', 'N/A') }}">
                    <!-- Include row action button -->
                    {% include "table/row_action_button.html" %}
                    <!-- Dynamic Row Data -->
                    {% for key, value in row.items() %}
                    <td class="{{ key }}-column">
                        {{ value if value is not none else "N/A" }}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
</div>