<thead>
    <tr>
        <th></th> <!-- Actions Column -->

        {% set seen_columns = {} %} <!-- Track unique column names -->

        <!-- Insert "Status" as the first column if it's a request -->
        {% if is_request %}
            <th class="status-column">
                Status
            </th>
            {% set _ = seen_columns.update({"status": True}) %}
        {% endif %}

        <!-- Loop through metadata columns -->
        {% for column in metadata.columns %}
            {% set column_name = column.name.split('.')[-1] %}
            {% if column_name not in seen_columns %}
                {% set _ = seen_columns.update({column_name: True}) %}
                <th class="{{ column_name }}-column">
                    {{ column.field_name if column.field_name else column_name | replace("_", " ") | title }}
                </th>
            {% endif %}
        {% endfor %}

        <!-- Loop through request metadata columns -->
        {% if is_request %}
            {% for column in request_metadata.columns %}
                {% set column_name = column.name.split('.')[-1] %}
                {% if column_name not in seen_columns %}
                    {% set _ = seen_columns.update({column_name: True}) %}
                    <th class="{{ column_name }}-column">
                        {{ column.field_name if column.field_name else column_name | replace("_", " ") | title }} (Request)
                    </th>
                {% endif %}
            {% endfor %}
        {% endif %}
    </tr>
</thead>

<script>
    document.addEventListener("DOMContentLoaded", async () => {
        document.addEventListener("keydown", handleKeyboardShortcuts);
    });

    function handleKeyboardShortcuts(event) {
        if (event.ctrlKey && event.shiftKey) {
            const key = event.key.toLowerCase();
            const visibleCheckboxes = Array.from(document.querySelectorAll(".row-checkbox"))
                .filter(checkbox => checkbox.closest("tr").style.display !== "none");

            if (key === "a") {
                event.preventDefault();
                visibleCheckboxes.forEach((checkbox) => (checkbox.checked = true));
            } else if (key === "d") {
                event.preventDefault();
                visibleCheckboxes.forEach((checkbox) => (checkbox.checked = false));
            }
        }
    }
</script>
